/* Font-Import */
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

/* font style */
* {
    font-family: 'Roboto', sans-serif;
}

/* Links/Navbar Style */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-size: 12px;
}

li {
    float: left;
    padding-left: 10px;
}

li a {
    display: inline-block;
    text-decoration: none;
    color: #000000;
    padding: 8px;
}
a:hover {
    text-decoration: underline;
}

.moveRight {
    float: right;
    padding: 10px;
}

#topNavButton {
    background-color: #3172ff;
    border: none;
    border-radius: 2px;
    font-weight: 800;
}

#signIn {
    color: white;
}

/* bottomNavBar additional adjustment styles */
#bottomNavBar {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#bottomNavBarList {
    margin-top: 203px;
    padding: 5px;
    background-color: #ebebeb83;
    opacity: 50%;
}

.moveBottomRight{
    float: right;
}

/* logo/SearchBar Style */
.center{
    margin-left: 38.8%;
    margin-right: 38.8%;
    width: 50%;
}

#logo {
    margin-top: 95px;
    padding-left: 19px;
    padding-bottom: 20px;
}

#search {
    border: 1px solid rgb(214, 213, 213);
    border-radius: 20px;
    width: 500px;
    height: 30px;
    margin-left: -100px;
    margin-bottom: 5px;
}

#searchButtons {
    padding: 10px;
}

.button-style {
    background-color: #e0e0e07a;
    border-radius: 2px;
    border: 1px solid white;
    width: 150px;
    height: 40px;
    font-weight: 800;
    opacity: 60%;
}

.button-style:hover {
    border: 1px solid #cecececb;
    opacity: 80%;
}
